.u_frame_conts ul.keshi-list{
	margin:0;
	padding:0;
	list-style: none;
  border:none;
}
	/* 列表 项 */
.keshi-list-item{
	background: #fff;
	margin-bottom: 35px;
  position: relative;
  font-family: "microsoft yahei";
}
.keshi-list-item i.left-point{
    display: inline-block;
    background: #d52029;
    position: absolute;
    left: 0;
}
.keshi-list-item.chapter{  /* 章 */
	margin-left: -38px;
  padding-left: 19px;
  line-height: 14px;

}
.keshi-list-item.section{  /* 节 */
	margin-left: -19px;
  padding-left: 19px;
  line-height: 12px;
  font-size: 12px;
}
.keshi-list-item.course-test{  /* 课时 */
	padding-left: 39px;
  line-height: 12px;
  font-size: 12px;
}
.keshi-list-item.chapter i.left-point{
    width: 4px;
    height: 4px;
    top:5px;
}
.keshi-list-item.section i.left-point{
    width: 3px;
    height: 3px;
    top: 4.5px;
}
.keshi-list-item.course-test i.left-point{
    width: 2px;
    height: 2px;
    top: 5px;
}
.keshi-list-item.course-test span.l_type{
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 17px;
    background-image: url(../static/course_set.png);
}
.keshi-list-item.course-test span.l_type.l_type_video{
  background-position: 0 0;
}
.keshi-list-item.course-test span.l_type.l_type_test{
  background-position: -50px 0;
}
.keshi-list-item.course-test span.l_type.l_type_text{
  background-position: -100px 0;
}
.keshi-list-item.course-test span.l_type.l_type_document{
  background-position: -150px 0;
}
.keshi-list-item.course-test span.l_type.l_type_ppt{
  background-position: -200px 0;
}
.keshi-list-item.course-test span.l_type.l_type_audio{
  background-position: -250px 0;
}

	/* 项 标题 */
.ks-title{
	float: left;
	overflow: hidden;
}
.ks-title .t_time.unpublished{
  color: #faaa3c;
}
.keshi-list-item.chapter .ks-title{
  color: #666;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}
.keshi-list-item.section .ks-title{
  color: #888;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
}
.keshi-list-item.course-test .ks-title{
  color: #888;
  font-size: 12px;
  line-height: 12px;
}
.manage-keshi .number{
	margin:0 3px;
}
/* 右侧 操作按钮区 */
.operation-btns{
  font-size: 12px;
  color: #aaa;
  line-height: 12px;
  position: absolute;
  right: 0;
  background: #fff;
  padding-left: 10px;
}
.operation-btns a{
  cursor: pointer;
}
.keshi-list-item:hover .operation-btns{
	  visibility: visible;
}
.btn-custom{
	color: #aaa;
	background: none;
}
.operation-btns>.btn-custom{
  padding-right: 50px;
}
.btn-custom:hover{
	color: #d52029;
}
.btn-custom:focus{
	color: #d52029;
	outline: none;
  text-decoration: none;
}
.btn-custom:active:focus{
	outline: none;
	box-shadow: none;
}
.btn-custom i{
  margin-right:10px;
}
@media(max-width: 768px){
  .operation-btns>.btn-custom{
    padding-right: 20px;
  }
  .btn-custom i{
    margin-right:3px;
  }
}
.operation-btns .dropdown-menu{
    margin-top: 4px;
    left: auto;
    right: 0;
    min-width: 100px;
    font-size: 12px;
    color: #aaa;
    border:1px solid #f2f2f2;
    box-shadow: 0 1px 0 #f8f8f8;
    -webkit-box-shadow: 0 1px 0 #f8f8f8;
    -moz-box-shadow: 0 1px 0 #f8f8f8;
    -o-box-shadow: 0 1px 0 #f8f8f8;
    -ms-box-shadow: 0 1px 0 #f8f8f8;
}
.dropdown-menu>li>a{
  padding:10px 20px;
  font-size: 12px;
  color: #aaa;
  line-height: 12px;
}
.dropdown-menu>li>a:hover{
  color: #fff;
}
.dropdown-menu>li>a i{
  margin-right: 3px;
}
.btn-group.open .dropdown-toggle{
	box-shadow: none;
}


/* 添加课时 开始 */
#myModal3 ul,
#myModal4 ul,
#myModal3 form,
#myModal4 form{
  padding-bottom:0; 
  border-bottom: none; 
  margin-bottom: 0; 
}
#myModal3 .form-control,
#myModal4 .form-control{
  color: #bbb;
  border: 1px solid #e0e0e0;
  height: auto;
  box-shadow: none;
  font-size: 12px;
  line-height: 12px;
  padding: 7px 12px;
  margin-right: 0;
}
#myModal3 .form-control[readonly],
#myModal4 .form-control[readonly]{
  background: #eee;
}
@media(min-width: 992px){
  #myModal3 .modal-lg,
  #myModal4 .modal-lg{
    width: 800px;
  }
}
#myModal3 .modal-header,
#myModal4 .modal-header{
  border:none;  
}
#myModal3 .modal-header span,
#myModal4 .modal-header span{
  color: #d52029;
  text-shadow: none;
}
#myModal3 .modal-header .close:focus,
#myModal3 .modal-header .close:hover,
#myModal4 .modal-header .close:focus,
#myModal4 .modal-header .close:hover{
  outline: none;
  opacity: 0.8;
}
#myModal3 .modal-body,
#myModal4 .modal-body{
  padding:20px 50px;
}
#myModal3 .modal-body h4,
#myModal4 .modal-body h4{
  font-size: 16px;
  color: #888;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
#myModal3 .modal-footer,
#myModal4 .modal-footer{
  padding:0 50px 50px;
  border:none;
}
#myModal3 label.radio-inline{
  font-size: 12px;
  color: #aaa;
  padding-top: 10px;
}
@media(min-width: 992px){
  #myModal3 .radio-inline+.radio-inline{
    margin-left: 40px;
  }
}
#myModal3 input[type='radio']{
  opacity: 0;
}
input[type='radio']+.choice-img{
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url(../static/radio-03.png) no-repeat 0 1px;
  position: absolute;
  margin-left: -20px;
}
input[type='radio']:checked+.choice-img{
  background: url(../static/radio-02.png) no-repeat 0 1px;
}
#myModal3.modal .nav>li>a,
#myModal4.modal .nav>li>a{
  padding:10px 0;
  font-size: 12px;
  border-radius: 0;
  background: none;
  border:none;
  color: #aaa;
  font-weight: normal;
  margin-right: 30px;
}
#myModal3.modal .nav>li>a:hover,
#myModal3.modal .nav>li.active>a:hover,
#myModal3.modal .nav>li.active>a,
#myModal4.modal .nav>li>a:hover,
#myModal4.modal .nav>li.active>a:hover,
#myModal4.modal .nav>li.active>a{
  color: #d52029;
}
.modal .nav>li.active>a,
.modal .nav>li.active>a:hover,
.modal .nav>li.active>a:focus{
  color: #d52029;
}
  /* 视频上传 框 */
.file-chooseer-frame{
    padding: 30px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    color: #888;
    font-size: 12px;
}
.file-chooseer-frame p{
  margin-bottom: 10px;
}
.file-chooseer-frame .alert{
  margin-bottom: 0;
}
.uploadify-button{
  background-image: none;
}
/* 课程文件 列表 选择框 */
.file-chooseer-list{
  padding: 10px;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    height: 200px;
    overflow-y:auto;
    overflow-x:hidden;
}
.type_zhichi{
  padding:0;
}
.type_zhichi li{
  color: #999;
  list-style: none;
  padding-left: 15px;
  position: relative;
}
.type_zhichi li i{
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #d52029;
  position: absolute;
  left: 0;
  top:7px;
} 
  /* 上传后编辑列表 */
#myModal3 .item_video,
#myModal4 .item_video{
  color:#aaa;
  font-size:12px;
  padding-top:5px;
}
#myModal3 .btn-link.btn-sm,
#myModal4 .btn-link.btn-sm{
  color:#d52029;
  padding:3px 18px;
}
#myModal3 .btn:focus,.btn:active,
.btn-link:focus,.btn-link:active,
#myModal4 .btn:focus{
  outline: none;
}
#myModal3 .btn-link:hover,
#myModal4 .btn-link:hover{
  text-decoration: none;
  color: #9a181f;
}
#myModal3 .modal-footer .btn.btn-primary,
#myModal4 .modal-footer .btn.btn-primary{
  padding:5px 17px;
}
#myModal3 .modal-footer .btn.btn-primary:hover,
#myModal4 .modal-footer .btn.btn-primary:hover{
  background: #9a181f;
  border-color: #9a181f;
}

.file-chooseer-list>ul{
  list-style: none;
  margin:0;
  padding:0;
}
.file-chooseer-list>ul>li{
  padding:5px 10px;
  font-size: 12px;
  color:#999;
}
.file-chooseer-list>ul>li:hover{
  background: #eee;
}
.file-chooseer-list>ul>li .filename{
  width: 55%;
  float: left;
}
.file-chooseer-list>ul>li .filesize{
  width: 20%;
  float: left;
}
.file-chooseer-list>ul>li .filetime{
  width: 25%;
  float: left;
}

.form-control::-webkit-input-placeholder{
  color: #bbb;
  font-size: 12px;
}

.form-control::-moz-placeholder{
  color: #bbb;
  font-size: 12px;
}

.form-control:-moz-placeholder{
  color: #bbb;
  font-size: 12px;
}

.form-control:-ms-input-placeholde{
  color: #bbb;
  font-size: 12px;
}
#daoru{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
}
#daoru:hover{
  background: #d52029;
  color: #fff;
  border-color: #d52029;
}
.video-time input[type="text"]{
  width: 100px;
  display: inline-block !important;
  margin-right: 5px;
}